# PostgreSQL
POSTGRES_DB=database_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=1qaz2wsx
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Server
APP_PATH=app/
COOKIE_SECRET=WcB1YhIGZbZpP7ZQqlzZsYR__Jkc0wBxdft7zByMMnQ=